modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "git push first"
mode = "sequential"
author = 41581030

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push -u origin <primeiroPush>"

[[workflows.workflow]]
name = "git firtss"
mode = "sequential"
author = 41581030

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"add newfile and some fixes\" git push origin main"

[[workflows.workflow]]
name = "git"
mode = "sequential"
author = 41581030

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"add newfile and some fixes\""

[[workflows.workflow]]
name = "login git"
mode = "sequential"
author = 41581030

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.name \"wagner840\" git config --global user.email \"wagnerlevel2@gmail.com\""
